@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');

*{
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

/*  Change page button */
button{
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 35px 10px 35px;
    background-color: #3B82F6;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

header{
    background-color: #1F2937;
    color: #FFFFFF;
    padding: 10px 10px 100px 10px;
}

/* First section */
.logo{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold
}

/* Button to change page */
.Btn-change{
    margin-left: 120px;
}

.nav-bar{
    /* background-color: red; */
    display: flex;
    /* gap: 1rem; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.nav-bar ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

/* presentation section */
.presentation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
}

.presentation-left {
    /* border: #3B82F6 solid; */
    /* justify-content: end; */
    width: 450px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.presentation-left button{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 35px 10px 35px;
    background-color: #3B82F6;
    border: 2px solid #3B82F6;
    border-radius: 10px;
    /* align-self: flex-end;
    flex-wrap: wrap; */
    margin-top: 20px;
}

.presentation-title{
    font-weight: bolder;
    font-size: 60px;
}

.presentation-right {
    padding: 90px;
    /* border: #94f207 solid; */
    width: 300px;
    background-color: #6D747D;
    /* text-align: center; */
    /* padding: 40px;     */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Second Section */
.Second-section{
    display: flex;
    align-items: center;
    padding: 0 120px 120px 120px ;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 40px;
    padding-top: 120px;
}

.box{
    border: #3B82F6 solid;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-top: 35px;
}

.Second-section p{
    height: 20px;
    width: 160px;
    text-align: center;
    margin-top: 5px;
}

/* third section */
.third-section{
    background-color: #E5E7EB ;
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.saying{
    width: 400px;
    
}

.third-section strong{
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
}

/* Fourth section */
.fouth-section{
    color: #FFFFFF;
    display: flex;
    background-color: #3B82F6;
    border-radius: 10px;
    padding: 50px;
    margin: 160px 100px 160px 100px; 
    align-items: center;  
    justify-content:space-between;
    flex-wrap: wrap; 
    gap: 2rem;
}

.call-to-action{
    font-weight: bolder;
    font-size: 30px;
}

/* .fouth-section button{
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 35px 10px 35px;
    background-color: #3B82F6;
    border: 2px solid #ffffff;
    border-radius: 10px;
    align-self: flex-end;
    flex-wrap: wrap;
} */

.fouth-section  ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    align-self: flex-start;
}


/* Footer */
footer{
    background-color: #1F2937;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    font-family: roboto ;
    margin: 0;
}